:root {
  --global-font-size: 16px;
  --global-font-color: #444;
  --mono-font-stack: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --font-stack: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --global-line-height: 1.6em;
  /* --page-width: 70em; */
  --display-h1-decoration: block;
  --code-bg-color: #fff;
}
body {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
}

main {
  min-height: 80vh;
  text-align: justify;
  text-justify: distribute;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.terminal-prompt::after {
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
  width: 10px;
}

.terminal-prompt::before {
  content: none;
}

.post-tag {
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-size: 0.8rem;
  padding: 2px 5px;
  margin: 5px;
}

.secondary-color {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 0.9rem;
}

pre {
  max-width: 100vh;
}

.post-content {
  margin-top: 20px;
}
#search input {
  padding-left: 1.7rem;
  border-color: lightgray;
  color: var(--secondary-color);
  font-size: 0.9rem;
}
